@import '../../../variables.scss';

.image {
  position: relative;
  display: inline-block;
  cursor: pointer;
  background-size: cover;
  background-position: center center;
  vertical-align: top;
  box-sizing: border-box;
  position: relative;
  border: 1px solid white;
  background-color: $light-gray;
  .info {
    display: table;
    background: white;
    position: absolute;
    &:hover {
      opacity: 0.6;
      transition: opacity 0.5s ease-in-out; 
    }
    &:not(:hover) {
      opacity: 0;
      transition: opacity 0.5s ease-in-out; 
    }
    .info-cell {
      display: table-cell;
      vertical-align: middle
    }
  }
}