.image {
  display: inline-block;
  cursor: pointer;
  background-size: cover;
  background-position: center center;
  vertical-align: top;
  box-sizing: border-box;
  position: relative;
  border: 1px solid white;
}