// General variables
$light-gray: #E0E0E0;

// Header
$header-font-family: fantasy;
$header-font-size: 30px;

// Modal
$modal-border: #888;
$modal-content-background: #fefefe;
$modal-background: rgba(0,0,0,0.4); 
$modal-font-size: 44px;

// Close button
$close-separator: 15px;
$close-size: 50px;

@import './header/header.scss';

